.button-tall {
  height: 35px;
}

.button-short {
  height: 45px;
}

.action-button {
  border-radius: 25px;
  font-size: 0.875em;
  width: 100%;
}

.action-button__primary {
  background-color: $twitter-blue;
  border: 1px solid $twitter-blue;
  color: $white;
}

.action-button__secondary {
  background-color: $white;
  border: 1px solid $twitter-blue;
  color: $twitter-blue;
}
