.action-button {
  border-radius: 25px;
  font-size: 14px;
  width: 100%;
}

.submission-input {
  height: 45px;
}

.action-button__solid {
  background-color: $twitter-blue;
  border: 1px solid $twitter-blue;
  color: $white;
}

.action-button__hollow {
  background-color: $white;
  border: 1px solid $twitter-blue;
  color: $twitter-blue;
}

.login-or-signup__button {
  height: 35px;
  margin-top: 15px;
}
