footer {
  background-color: $pale-ash-grey;
  border-top: solid 1px $light-grey;
  height: 45px;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(18, auto);
  list-style-type: none;
  margin: 12px;
}

.footer__list-item {
  margin: 0px 10px;
}

.footer__list-item__link {
  font-size: 12.5px;
  color: $mid-grey;
}
