body {
  display: grid;
  font-family: "Helvetica Neue";
  grid-template-rows: 1fr 45px;
  height: 100vh;
}

.title {
  font-size: 27px;
  margin: 15px 0px 45px 0px;
}

.subtitle {
  font-size: 18px;
}
