.content {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content__half {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.blue-background {
  background-color: $twitter-blue;
}

.benefits {
  grid-row-start: 2;
  place-self: center;
}

.centered {
  justify-items: center;
}

.top-third {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.three-across__primary {
  display: grid;
  grid-column-start: 2;
  grid-template-columns: 3fr 3fr 1fr;
  margin-top: 30px;
}

.middle-third {
  align-items: center;
  display: grid;
  max-width: 380px;
}
