.content {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content__half {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.blue-background {
  background-color: $twitter-blue;
}

.benefits {
  grid-row-start: 2;
  place-self: center;
}

.centered {
  justify-items: center;
}

.login {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  margin-top: 30px;
  width: 80%;
}

.login-or-signup {
  align-items: center;
  display: grid;
  max-width: 380px;
}
